* {
    color: #FFFFFF;    
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

.body {
    background-image: url("../src/img/toppngNumbersBack.svg") , linear-gradient(to right, #19B600, #000000);
    background-repeat: no-repeat, repeat;
    background-size: auto, cover;  
}

.container {
    height: 100vh;
    padding: 30px 125px 40px 125px;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 130px;
    text-align: center;
    text-shadow: 1px 0 1px #000, 
                 0 1px 1px #000, 
                 -1px 0 1px #000, 
                 0 -1px 1px #000;
}

.title-h1 {
    font-weight: 800;
    font-size: 90px;
    line-height: 108px;
}

.subtitle-h2 {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
}

.main {
    display: flex;    
    flex-direction: column;
    gap: 25px;
}

.form {
    display: flex;
    gap: 25px;
}

.textarea {
    width: 100%;
    background: #F4F4F4;
    resize: none;  
    border-radius: 10px;
    border: none;
    color: #0B1722;
    padding: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.textarea::-webkit-input-placeholder {
    color: #B1AFAF; 
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding: 14px 0 0 32px ;
}

.original-textarea {
    height: 220px;
}

.fragment-textarea {
    height: 60px;
}

.button {
    color: #FFFFFF;
    background: #0B1722;
    width: 250px;
    border-radius: 10px;
    height: 60px;
    font-weight: 700;
    font-size: 28px;
    border: none;
}

.button:hover {
    background: #1B446A;
}

.button:active {
    background: #102B43;
}

.button-and-img {
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.footer {
    position: absolute;
    bottom: 40px;
    background-color: #FFFFFF;
    border: 2px solid #0B1722;
    border-radius: 10px;
    width: calc(100% - 250px);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 30px 20px 30px;
}

.nicknames {
    color: #5C5C5C;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}

.social {
    list-style-type: none;
    display: flex;
    gap: 25px;
}

@media (max-height: 840px) or (max-width: 1000px) {
    .footer {
        position: relative;
        top: 40px;
        width: 100%;      
    }
}

@media (max-width: 760px) {
    .container {
        padding:  30px 30px 0 30px;
    }
    .header {
        margin-bottom: 40px;
        gap: 20px;
    }
    .form {
        flex-direction: column;
        justify-content: center;
    }
    .button-and-img {
        gap: 25px;
        align-items: center;
    }
    .button {
        width: 100%;
    }
    .footer {
        opacity: 0.8;
        top: 96px;
    }
    .footer-container {
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
    }
}

@media (max-width: 360px) {  
    .title-h1 {
        font-size: 50px;
        line-height: 60px;
    }
    .subtitle-h2 {
        font-size: 16px;
        line-height: 24px;
    }
    .textarea {
        border: 2px solid #0B1722;
        border-radius: 20px;
    }
    .original-textarea {
        height: 120px;
    }
    .fragment-textarea {
        height: 90px;
    }
}